<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E2E Regression Suite">

    <listeners>
        <listener class-name="Avilassh.TestBase.Listeners"></listener>
    </listeners>
    
    <test thread-count="5" name="ErrorValidationsTest">
        <classes>
            <class name="Avilassh.TestCases.ErrorValidations"/>
        </classes>
    </test>

    <test thread-count="5" name="SubmitOrderTest">
        <classes>
            <class name="Avilassh.TestCases.SubmitOrderFlow"/>
        </classes>
    </test>

</suite>